@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body
{
	background-image: url("background.jpg");
	font-family: 'Fredoka One', cursive;
	color:white;
	text-align:center;
}

#LOGO
{
	width:300px;
	
}

.Head
{
	width:150px;
	height:75px;
}

.socialMedia
{
	height:30px;
	width:30px;
	border-radius:5px;
	margin:5px;
}

.Head:hover,.socialMedia:hover
{
	opacity:0.8;
}

#socialMediaBox
{
	text-align:center;
}

#MenuTabs
{
	display:inline-block;
}

#BottomMenu
{
	margin-top:10px;
}

.bottomLink
{
	color:white;
	margin-right:25px;
}

.framed
{
	border:20px solid transparent;
	-webkit-border-image: url('Frame.jpg') 20 round;
	border-image: url('Frame.jpg') 20 round;
}

.foodServices{
	margin: 15px;
}

#skip-the-dishes{
	width: 150px;
	border-radius: 2px;
}

.alert {
    width: 1002px;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    font-size: 1.25rem;
    margin: auto;
	margin-top: 15px;
	text-align: left;
}

.alert.primary {
    border: 2px solid #10993b;
    color: #10993b;
}

.alert.warning {
    border: 2px solid red;
    color: red;
}