@charset "utf-8";

#wall
{
	text-align: center;
	width: 80%;
	margin: auto;
}

.menu-container {
	cursor: pointer;
}

.menu
{
	max-width: 100%;
}

.menu:last-child {
	margin-top: 40px;
}

#warning
{
	width: 400px;
	margin: auto;
	color: white;
	margin-top: 20px;
	text-align: center;
}