@charset "utf-8";

#wall {
    text-align: center;
    width: 80%;
    max-width: 1148px;
    margin: auto;
}

.menu-container {
    cursor: pointer;
    opacity: 0.9;
}

.menu-container:hover {
    opacity: 1;
}

.menu {
    max-width: 100%;
}

.menu:last-child {
    margin-top: 40px;
}

#warning {
    width: 400px;
    margin: auto;
    color: white;
    margin-top: 20px;
    text-align: center;
}
