<!Doctype html>
<html>
	<head>
		<meta name="title" content="The Rainbow Restaurant - Menu"/>
    	<meta name="keywords" content="Rainbow, Restaurant, Oshawa, Durham Region, Breakfast, Diner,"/>
        <meta name="description" content="The Rainbow Restaurant - Serving Oshawa and the Durham Region since 1958"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link href="../_shared/Template.css" rel="stylesheet" type="text/css"/>
		<link href="Menu.css" rel="stylesheet" type="text/css"/>
		<title>The Rainbow Restaurant - Menu</title>
	</head>
	
	<body>
		<div id="Header">
			<table id="MenuTabs">
				<tr>
					<td><a href="../Home/Home.html"><img id="LOGO" src="../_shared/RainbowLogo.png"/></a></td>
					<td><a href="../Home/Home.html"><img class="Head" src="../_shared/Home.png"/></a></td>
					<td><a href="../Menu/Menu.html"><img class="Head" src="../_shared/Menu.png"/></a></td>
					<td><a href="../Connect/Connect.html"><img class="Head" src="../_shared/Connect.png"/></a></td>
					<td><a href="../About/About.html"><img class="Head" src="../_shared/About.png"/></a></td>
					<td><a href="../Gallery/Gallery.php"><img class="Head" src="../_shared/Gallery.png"/></a></td>
				</tr>
			</table>
			
			<div id="socialMediaBox">
				<a href="https://www.facebook.com/RainbowRestaurantOshawa" target="_blank"><img class="socialMedia" src="../_shared/Facebook logo.png"/></a>
				<a href="https://twitter.com/cheflouieg" target="_blank"><img class="socialMedia" src="../_shared/twitter-logo.png"/></a>
				<a href="https://www.instagram.com/cheflouieg" target="_blank"><img class="socialMedia" src="../_shared/instagram-logo.png"/></a>
				<a href="https://www.youtube.com/channel/UC3mV9SNWCoT2wfy-CKyb6Pw" target="_blank"><img class="socialMedia" src="../_shared/youtube-logo.png"/></a>
			</div>
		</div>

		<p class="alert warning" style="margin-bottom: 45px;">
			Due to the crisis that we are all now experiencing, the Rainbow's hours have changed:
			<br/>
			<br/>
			Weekdays: Closed.
			<br/>
			Saturday & Sunday: Take-out, pick-up, SkipTheDishes, and UberEats from 8am - 1pm (Breakfast menu only). 
			<br />
			<br/>
            This change is temporary until the crisis is over, and we can once again begin serving the best food around!
			Everybody take care and be safe!
			<br/>
			<br/>
			Love,
			<br/>
			<br/>
			The Rainbow Restaurant Family
        </p>
		
		<div id="wall">
			<embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=http://rainbowrestaurant.ca/Views/Menu/menu1.pdf" width="90%" height="900px"/>
			<embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=http://rainbowrestaurant.ca/Views/Menu/menu2.pdf" width="90%" height="900px"/>
		</div>
		
		<p id="warning">Please note: We are Cash Only, but we do have an ATM on site for your convienience!</p>

		<div class="foodServices">
			<a href="https://www.skipthedishes.com/rainbow-restaurant-simcoe-street-north" target="_blank"><img id="skip-the-dishes" src="../_shared/skipthedishes-logo.jpg"/></a>
		</div>
			
		<div id="BottomMenu">       
            <a class="bottomLink" href="../Home/Home.html">Home</a>
			<a class="bottomLink" href="../Menu/Menu.html">Menu</a>
			<a class="bottomLink" href="../Connect/Connect.html">Connect</a>
            <a class="bottomLink" href="../About/About.html">About The Rainbow Restaurant</a>
            <a class="bottomLink" href="../Gallery/Gallery.php">Gallery</a><br><br>
			<a id="copyRight" class="bottomLink"><span>&copy;</span> Rainbow Restaurant 2016 </a>
        </div>
		<script src="../_shared/setLogoFlicker.js"></script>
	</body>
</html>