#vid-holder {
    margin: auto;
    width: 90%;
}

#wall {
    display: inline-block;
    width: 920px;
    height: 610px;
    position: relative;
    margin-top: 20px;
}

.two {
    opacity: 0;
}

.img,
.picture {
    position: absolute;
}

.frame2 {
    left: 310px;
}

.frame3 {
    left: 620px;
}

.frame4 {
    top: 310px;
}

.homepage-video {
    width: 600px;
    height: 345px;
}

#soundcloud {
    margin-top: 20px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    overflow: hidden;
    padding: 0;
}

#soundcloud iframe {
    display: block; /* Removes the gap at the bottom */
    margin-bottom: -5px; /* Further adjusts to remove any gap */
}

/* Hide the orange bar at the top of the SoundCloud player */
#soundcloud::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px; /* Height of the orange bar - might need adjustment */
    background-image: url("../_shared/background.jpg"); /* Match the site background */
    z-index: 1;
    pointer-events: none; /* Allows interaction with the iframe beneath */
}