#vidHolder
{
	margin:auto;
	width:90%;
}

#vidHolder > .framed {
	margin-bottom: 15px;
}

#vidHolder > .framed:last-child {
	margin-bottom: 0px;
}

p
{
	max-width:980px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	text-align:justify;
	font-size:20px;
}

#Wall
{
	display:inline-block;
	width:920px;
	height:610px;
	position:relative;
	margin-top:20px;
}

.two
{
	opacity:0;
}

.img, .picture
{
	position:absolute;
}

.frame1
{
	
}

.frame2
{
	left:310px;
}

.frame3
{
	left:620px;
}

.frame4
{
	top:310px;
}