<!Doctype html>
<html>
	<head>
		<meta name="title" content="The Rainbow Restaurant"/>
    	<meta name="keywords" content="Rainbow, Restaurant, Oshawa, Durham Region, Breakfast, Diner,"/>
        <meta name="description" content="The Rainbow Restaurant - Serving Oshawa and the Durham Region since 1958"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link href="../_shared/Template.css" rel="stylesheet" type="text/css"/>
		<link href="Home.css" rel="stylesheet" type="text/css"/>
		<title>The Rainbow Restaurant - Home</title>
	</head>
	
	<body>
		<div id="nav-bar">
			<div id="nav">
				<a class="nav-item-container" href="../Home/Home.html"><img class="nav-item" src="../_shared/RainbowLogo.png"/></a>
				<a class="nav-item-container" href="../Home/Home.html"><img class="nav-item" src="../_shared/Home.png"/></a>
				<a class="nav-item-container" href="../Menu/Menu.html"><img class="nav-item" src="../_shared/Menu.png"/></a>
				<a class="nav-item-container" href="../Connect/Connect.html"><img class="nav-item" style="transform: scale(1.2, 1.2) translate(5px);" src="../_shared/Connect.png"/></a>
				<a class="nav-item-container" href="../About/About.html"><img class="nav-item" src="../_shared/About.png"/></a>
				<a class="nav-item-container" href="../Gallery/Gallery.php"><img class="nav-item" src="../_shared/Gallery.png"/></a>
			</div>
			
			<div id="social-media-nav">
				<a href="https://www.facebook.com/RainbowRestaurantOshawa" target="_blank"><img class="social-media" src="../_shared/Facebook logo.png"/></a>
				<a href="https://twitter.com/cheflouieg" target="_blank"><img class="social-media" src="../_shared/twitter-logo.png"/></a>
				<a href="https://www.instagram.com/cheflouieg" target="_blank"><img class="social-media" src="../_shared/instagram-logo.png"/></a>
				<a href="https://www.youtube.com/channel/UC3mV9SNWCoT2wfy-CKyb6Pw" target="_blank"><img class="social-media" src="../_shared/youtube-logo.png"/></a>
			</div>
		</div>

		<div style="width: 80%; margin: auto; margin-bottom: 45px; min-width: 500px;">
			<div class="alert framed" style="margin-top: 15px; width: 50%; min-width: 500px; max-height: 100%; display: inline-block; vertical-align: top;">
				<p style="padding: 15px;">
					Thank you to all of our old and new regulars that are helping us get through this pandemic.
					<br/>
					<br/>
					We are continuing to keep health and safety at the forefront during these difficult times.
					<br/>
					<br/>
					Love,
					<br/>
					<br/>
					The Rainbow Restaurant Family
				</p>
			</div>
			<img class="framed" style="margin-top: 15px; display: inline-block; width: 50%; min-width: 500px; max-height: 100%;" src="Support_Delivery.jpg"/>
		</div>
		<p style="margin-bottom: 45px; width: 80%; margin-left: auto; margin-right: auto;">Welcome to the Rainbow Family Restaurant, one of Canada's oldest family owned establishments! Also know as "The House of Bacon", the Rainbow has been serving the Oshawa and surrounding area since 1958. Come in and stay a while!</P>
		<div id="vidHolder" style="margin-bottom: 45px;">
			<iframe id="intro" class="framed"  width="600" height="345" src="https://www.youtube.com/embed/QgOT2THVgBM" frameborder="0" allowfullscreen></iframe>
			<iframe id="canadianSlang" class="framed" width="600" height="345" src="https://www.youtube.com/embed/x4WTZ89O2lA" frameborder="0" allowfullscreen></iframe>
			<iframe id="mv1" class="framed" width="600" height="345" src="https://www.youtube.com/embed/uZPDqlE1I30" frameborder="0" allowfullscreen></iframe>
			<iframe id="mv2" class="framed" width="600" height="345" src="https://www.youtube.com/embed/RMm0eyf4GWs" frameborder="0" allowfullscreen></iframe>
		</div>
		
		<div id="Wall" style="margin-bottom: 45px;">
			<div class="sqaure picture frame1">
				<img class="img framed" id="img11" src="Frame1/1.jpg"/>
				<img class="img two framed" id="img12" src="Frame1/2.jpg"/>
			</div>
			
			<div class="sqaure picture frame2">
				<img class="img framed" id="img21" src="Frame2/1.jpg"/>
				<img class="img two framed" id="img22" src="Frame2/2.jpg"/>
			</div>
			
			<div class="tall picture frame3">
				<img class="img framed" id="img31" src="Frame3/1.jpg"/>
				<img class="img two framed" id="img32" src="Frame3/2.jpg"/>
			</div>
			
			<div class="long picture frame4">
				<img class="img framed" id="img41" src="Frame4/1.jpg"/>
				<img class="img two framed" id="img42" src="Frame4/2.jpg"/>
			</div>
		</div>
		
		<div class="foodServices">
			<a href="https://www.skipthedishes.com/rainbow-restaurant-simcoe-street-north" target="_blank"><img id="skip-the-dishes" src="../_shared/skipthedishes-logo.jpg"/></a>
		</div>
		
		<div id="BottomMenu">       
            <a class="bottomLink" href="../Home/Home.html">Home</a>
			<a class="bottomLink" href="../Menu/Menu.html">Menu</a>
			<a class="bottomLink" href="../Connect/Connect.html">Connect</a>
            <a class="bottomLink" href="../About/About.html">About The Rainbow Restaurant</a>
			<a class="bottomLink" href="../Gallery/Gallery.php">Gallery</a><br><br>
			<a id="copyRight" class="bottomLink"><span>&copy;</span> Rainbow Restaurant 2016 </a>
		</div>
		<script src="../_shared/setLogoFlicker.js"></script>
		<script src="HomeSetup.js"></script>
		<script type="text/javascript">
			var speed = 500;
			slideshowCreator(15,"Frame1","img11","img12",2500,speed);
			slideshowCreator(15,"Frame2","img21","img22",3500,speed);
			slideshowCreator(12,"Frame3","img31","img32",4500,speed);
			slideshowCreator(15,"Frame4","img41","img42",5500,speed);
		</script>
	</body>
</html>