<!Doctype html>
<html>
	<head>
		<meta name="title" content="The Rainbow Restaurant - Connect"/>
    	<meta name="keywords" content="Rainbow, Restaurant, Oshawa, Durham Region, Breakfast, Diner,"/>
        <meta name="description" content="The Rainbow Restaurant - Serving Oshawa and the Durham Region since 1958"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link href="../_shared/Template.css" rel="stylesheet" type="text/css"/>
		<link href="Connect.css" rel="stylesheet" type="text/css"/>
		<title>The Rainbow Restaurant - Connect</title>
	</head>
	
	<body>
		<div id="Header">
			<table id="MenuTabs">
				<tr>
					<td><a href="../Home/Home.html"><img id="LOGO" src="../_shared/RainbowLogo.png"/></a></td>
					<td><a href="../Home/Home.html"><img class="Head" src="../_shared/Home.png"/></a></td>
					<td><a href="../Menu/Menu.html"><img class="Head" src="../_shared/Menu.png"/></a></td>
					<td><a href="../Connect/Connect.html"><img class="Head" src="../_shared/Connect.png"/></a></td>
					<td><a href="../About/About.html"><img class="Head" src="../_shared/About.png"/></a></td>
					<td><a href="../Gallery/Gallery.php"><img class="Head" src="../_shared/Gallery.png"/></a></td>
				</tr>
			</table>
			
			<div id="socialMediaBox">
				<a href="https://www.facebook.com/RainbowRestaurantOshawa" target="_blank"><img class="socialMedia" src="../_shared/Facebook logo.png"/></a>
				<a href="https://twitter.com/cheflouieg" target="_blank"><img class="socialMedia" src="../_shared/twitter-logo.png"/></a>
				<a href="https://www.instagram.com/cheflouieg" target="_blank"><img class="socialMedia" src="../_shared/instagram-logo.png"/></a>
				<a href="https://www.youtube.com/channel/UC3mV9SNWCoT2wfy-CKyb6Pw" target="_blank"><img class="socialMedia" src="../_shared/youtube-logo.png"/></a>
			</div>
		</div>
		
		<div id="wall">
			<p>82 Simcoe Street North<br/>Oshawa, Ontario</br>905-728-6463</p>
			<p>Mon-Fri:	7:00 am - 3:00 pm<br/>Sat:	7:00 am - 4:00 pm<br/>Sun:	8:00 am - 4:00 pm</p>
            <p>Questions? Email us at <a class="bottomLink" href="mailto:rainbowrestaurantoshawa@gmail.com">rainbowrestaurantoshawa@gmail.com</a></br></p>
            <iframe id="Map" class="framed" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2874.878984732634!2d-78.8669540849486!3d43.899773044469946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d51ce6f67b1c53%3A0x12547d3fcf3411c4!2sRainbow+Restaurant!5e0!3m2!1sen!2sca!4v1469740834942"></iframe>
		</div>

		<div class="foodServices">
			<img id="skip-the-dishes" src="../_shared/skipthedishes-logo.jpg"/>
		</div>
		
		<div id="BottomMenu" align="center">       
            <a class="bottomLink" href="../Home/Home.html">Home</a>
			<a class="bottomLink" href="../Menu/Menu.html">Menu</a>
			<a class="bottomLink" href="../Connect/Connect.html">Connect</a>
            <a class="bottomLink" href="../About/About.html">About The Rainbow Restaurant</a>
            <a class="bottomLink" href="../Gallery/Gallery.php">Gallery</a><br><br>
			<a id="copyRight" class="bottomLink"><span>&copy;</span> Rainbow Restaurant 2016 </a>
        </div>
		
		<script src="../_shared/setLogoFlicker.js"></script>
	</body>
</html>