@charset "utf-8";

#wall {
    width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

@media screen and (max-width: 1175px) {
    #wall {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #father-and-son {
        max-width: 50%;
        max-height: 100%;
        margin-bottom: 30px;
    }

    #blurb {
        margin: 0px;
    }
}

#father-and-son {
    display: inline-block;
    margin-right: 8px;
}

#blurb {
    display: inline-block;
    width: 400px;
    height: 600px;
    background-color: black;
    margin-left: 8px;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.article-container {
    width: fit-content;
}

.article1 {
    grid-area: article1;
}
.article2 {
    margin-top: 20px;
    grid-area: article2;
}
.article3 {
    grid-area: article3;
}
.article4 {
    margin-top: -20px;
    grid-area: article4;
}
.article5 {
    grid-area: article5;
}
.article6 {
    grid-area: article6;
}

#articles {
    padding-bottom: 30px;
    display: grid;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 240px 240px;
    grid-template-rows: 170px 170px 170px 170px;
    grid-template-areas:
        "article1 article3"
        "article1 article2"
        "article4 article2"
        "article5 article6";
}

.article:hover {
    opacity: 0.8;
}
