<!Doctype html>
<html>
	<head>
		<meta name="title" content="The Rainbow Restaurant - About"/>
    	<meta name="keywords" content="Rainbow, Restaurant, Oshawa, Durham Region, Breakfast, Diner,"/>
        <meta name="description" content="The Rainbow Restaurant - Serving Oshawa and the Durham Region since 1958"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link href="../_shared/Template.css" rel="stylesheet" type="text/css"/>
		<link href="About.css" rel="stylesheet" type="text/css"/>
		<title>The Rainbow Restaurant - About</title>
	</head>
	
	<body>
		<div id="nav-bar">
			<div id="nav">
				<a class="nav-item-container" href="../Home/Home.html"><img class="nav-item" src="../_shared/RainbowLogo.png"/></a>
				<a class="nav-item-container" href="../Home/Home.html"><img class="nav-item" src="../_shared/Home.png"/></a>
				<a class="nav-item-container" href="../Menu/Menu.html"><img class="nav-item" src="../_shared/Menu.png"/></a>
				<a class="nav-item-container" href="../Connect/Connect.html"><img class="nav-item" style="transform: scale(1.2, 1.2) translate(5px);" src="../_shared/Connect.png"/></a>
				<a class="nav-item-container" href="../About/About.html"><img class="nav-item" src="../_shared/About.png"/></a>
				<a class="nav-item-container" href="../Gallery/Gallery.php"><img class="nav-item" src="../_shared/Gallery.png"/></a>
			</div>
			
			<div id="social-media-nav">
				<a href="https://www.facebook.com/RainbowRestaurantOshawa" target="_blank"><img class="social-media" src="../_shared/Facebook logo.png"/></a>
				<a href="https://twitter.com/cheflouieg" target="_blank"><img class="social-media" src="../_shared/twitter-logo.png"/></a>
				<a href="https://www.instagram.com/cheflouieg" target="_blank"><img class="social-media" src="../_shared/instagram-logo.png"/></a>
				<a href="https://www.youtube.com/channel/UC3mV9SNWCoT2wfy-CKyb6Pw" target="_blank"><img class="social-media" src="../_shared/youtube-logo.png"/></a>
			</div>
		</div>
		
		<div id="wall">
			<img id="FatherAndSon" class="framed" src="Chef Louie and Father.jpg"/>
		
			<p id="blurb" class="framed">
				Welcome to the Rainbow Family Restaurant, one of Canada's oldest family owned establishments! 
				Long time owner, Chris Givelas, arrived from Greece in 1951 with his family. 
				Alongside his father John, and his brothers Nick and Steve, the Givelas family opened the Rainbow Restaurant in 1958. 
				During these initial years, Chris provided the Oshawa and surrounding area with great food at great prices, and 24 hour service, all while starting a family with his wife, Aphrodity. 
				Almost 60 years later, the Rainbow and its staff continue to provide the same dining experience that set it apart from the big chain restaurants.
				<br/><br/>My name is Louie Givelas, and I would like to extend my sincerest thanks to everyone who has supported the Rainbow over the years.
				I hope you enjoy your visit with us, and I hope that I am able to continue the tradition of quality that my parents have been offering since the beginning.
			</p>
		</div>
		
		<div id="articleHolder">
			<h2>Articles about the Rainbow</h2>
			<a href="Article1.pdf" target="_blank"><img class="article framed" src="Article1Pic.jpg"/></a>
			<a href="Article3.pdf" target="_blank"><img class="article framed" src="Article3Pic.jpg"/></a>
			<a href="http://blog.uoit.ca/local-cuisine-spotlight-rainbow-family-restaurant?utm_source=Social&utm_medium=Web&utm_campaign=blog" target="_black"><img class="article framed" src="Article4Pic.jpg"/></a>			
			<a href="http://www.durhamregion.com/news-story/4734781-durham-dish-this-club-sandwich-from-rainbow-family-restaurant-in-oshawa-can-feed-a-crowd/" target="_black"><img class="article framed" src="Article5Pic.jpg"/></a>
			<a href="Article6.pdf" target="blank"><img class="article framed" src="Article6Pic.jpg"/></a>
			<a href="Article2.pdf" target="_blank"><img class="article framed" src="Article2Pic.jpg"/></a>
		</div>

		<div class="foodServices">
			<a href="https://www.skipthedishes.com/rainbow-restaurant-simcoe-street-north" target="_blank"><img id="skip-the-dishes" src="../_shared/skipthedishes-logo.jpg"/></a>
			<a href="https://www.ubereats.com/ca/toronto/food-delivery/rainbow-restaurant/78GOD9i2TYCzpuhViO-2cg" target="_blank"><img id="uber-eats" src="../_shared/ubereats-logo.png"/></a>
		</div>
	
		<div id="BottomMenu">       
			<a class="bottomLink" href="../Home/Home.html">Home</a>
			<a class="bottomLink" href="../Menu/Menu.html">Menu</a>
			<a class="bottomLink" href="../Connect/Connect.html">Connect</a>
			<a class="bottomLink" href="../About/About.html">About</a>
			<a class="bottomLink" href="../Gallery/Gallery.php">Gallery</a><br><br>
			<a id="copyRight" class="bottomLink"><span>&copy;</span> Rainbow Restaurant 2020 </a>
		</div>
		
		<script src="../_shared/setLogoFlicker.js"></script>
	<body>
<html>